<%= form_with model: @profile, url: profile_path, local: true do |form| %>
  <div class="form-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  
  <div class="form-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  
  <div class="form-field">
    <%= form.label :sex %>
    <%= form.select :sex, [nil, 'male', 'female', 'other'] %>
  </div>
  
  <div class="form-field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>
  
  <div class="form-field">
    <%= form.label :home_address %>
    <%= form.text_field :home_address %>
  </div>
  
  <div class="form-field">
    <% unless @profile.avatar_image_data == nil %>  
      <%= image_tag @profile.avatar_image_url(:medium) %><br />
    <% end %>
    <%= form.label :avatar %>
    <%= form.hidden_field :avatar_image, value: @profile.cached_avatar_image_data %>
    <%= form.file_field :avatar_image %>
  </div>
  
  <%= form.submit :Submit, class: 'form-button' %>
<% end %>