<%= form_with model: @profile, url: profile_path, local: true do |form| %>
  <div class="form-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true %>
    <span class="error-msg"><%= display_errors(@profile, :first_name) %></span>
  </div>
  
  <div class="form-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <span class="error-msg"><%= display_errors(@profile, :last_name) %></span>
  </div>
  
  <div class="form-field">
    <%= form.label :sex %>
    <%= form.select :sex, [nil, 'male', 'female', 'other'] %>
    <span class="error-msg"><%= display_errors(@profile, :sex) %></span>
  </div>
  
  <div class="form-field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
    <span class="error-msg"><%= display_errors(@profile, :phone_number) %></span>
  </div>
  
  <div class="form-field">
    <%= form.label :home_address %>
    <%= form.text_field :home_address, placeholder: 'Enter your home address', id: 'profile_home_address' %>
    <span class="error-msg"><%= display_errors(@profile, :home_address) %></span>
  </div>
  
  <div class="form-field">
    <% unless @profile.avatar_image_data.nil? %>  
      <%= image_tag @profile.avatar_image_url(:medium) %><br />
    <% end %>
    <%= form.label :avatar %>
    <%= form.hidden_field :avatar_image, value: @profile.cached_avatar_image_data %>
    <%= form.file_field :avatar_image %>
  </div>
  
  <%= form.submit :Submit, class: 'main-button' %>
<% end %>

<script>
// autocomplete home address
  var placeSearch, autocomplete;

  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('profile_home_address')),
        {types: ['geocode'], componentRestrictions: {country: 'au'}});
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch('GOOGLE_MAPS_API') %>&libraries=places&callback=initAutocomplete"
    async defer></script>