<%= image_tag display_avatar(@profile.user, :medium), class: 'avatar avatar-medium', id: "profile-avatar" %>

<h4>Name</h4>
<%= @profile.first_name %> <%= @profile.last_name %>

<% if @profile.user.reviews_as_passenger.any? %>
  <h4>Passenger rating</h4>
  <%= sprintf("%0.2f", @profile.user.average_passenger_rating) %><br />
<% end %>

<% if @profile.user.reviews_as_driver.any? %>
  <h4>Driver rating</h4>
  <%= sprintf("%0.2f", @profile.user.average_driver_rating) %><br />
<% end %>

<h4>Sex</h4>
<%= @profile.sex %>
<h4>Phone number</h4>
<%= @profile.phone_number %>
<h4>Home address</h4>
<%= @profile.home_address %>