<% unless @profile.avatar_image_data == nil %>
  <%= image_tag @profile.avatar_image_url(:medium), class: 'image', id: 'avatar_img' %><br />
<% end %>

<h4>Name</h4>
<%= @profile.first_name %> <%= @profile.last_name %>
<h4>Sex</h4>
<%= @profile.sex %>
<h4>Phone number</h4>
<%= @profile.phone_number %>
<h4>Home address</h4>
<%= @profile.home_address %>

<h4>Passenger rating</h4>
<%= sprintf("%0.2f", @profile.user.average_passenger_rating) %><br />
<h4>Driver rating</h4>
<%= sprintf("%0.2f", @profile.user.average_driver_rating) %><br />