<h1>Your trips as driver</h1>
<hr>
<br>
<% @bookings.each do |booking| %>
  <%= time_ago_in_words(booking.completed_at) %> ago<br />
  Cost: $<%= sprintf("%0.2f", booking.cost) %><br />
  Origin: <%= booking.origin_address %><br /> 
  Destination: <%= booking.destination_address %><br />
  Passenger: <%= booking.passenger.profile.first_name %><br />  
  <%= link_to 'Show', booking_path(booking), class: 'main-button' %><br />
  <br />
<% end %>