<h1>Your profile</h1>

<%= @profile.first_name %> <%= @profile.last_name %><br />
<%= @profile.sex %><br />
<%= @profile.phone_number %><br />
<%= @profile.home_address %><br />
<%= @profile.avatar_image_data %><br />
