Drivers Licence: <%= @driver_profile.drivers_licence %><br />
Transport Type: <%= @driver_profile.transport_type %><br />
Approved: <%= @driver_profile.approved %><br />
Approved at: <%= @driver_profile.approved_at %><br />

<h2>Transport Image</h2>
Original: <%= image_tag @driver_profile.transport_image_url(:original) %><br />
Medium: <%= image_tag @driver_profile.transport_image_url(:medium) %><br />
Thumb: <%= image_tag @driver_profile.transport_image_url(:thumb) %><br />