<h1>Contact Us</h1>
<%= form_for :contact do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-field">
    <%= f.text_area :message, placeholder: 'Comment' %>
  </div>
  
  <%= f.submit :Submit, class: 'form-button' %>
<% end %>