<h1>Contact Us</h1>
<%= form_for :contact do |f| %>
  <div class="form-field">
    <%= f.label :contact_reason %><br />
    <%= f.select :contact_reason, [nil, 'Incorrect payment', 'Report an incident', 'Car accident', 'Site/app bug'], required: true %>
  </div>

  <div class="form-field">
    <%= f.label :booking %><br />
    <%= f.collection_select :booking, @bookings, :id, :created_at, include_blank: true %>
  </div>

  <div class="form-field">
    <%= f.label :message %>
    <%= f.text_area :message, required: true %>
  </div>
  
  <%= f.submit :Submit, class: 'main-button' %>
<% end %>