<% unless @car.car_image_data == nil %>  
  <%= image_tag @car.car_image_url(:medium), class: 'image', id: 'car_img' %><br />
<% end %>

<h4>Make</h4>
<%= @car.make %>
<h4>Model</h4>
<%= @car.model %>
<h4>Number plate</h4>
<%= @car.number_plate %>
<h4>Transmission</h4>
<%= @car.transmission %>