<% unless @car.car_image_data.nil? %>  
  <%= image_tag @car.car_image_url(:medium), class: 'image', id: 'profile-car-image' %><br />
<% end %>

<h4>Make</h4>
<p><%= @car.make %></p>
<h4>Model</h4>
<p><%= @car.model %></p>
<h4>Number plate</h4>
<p><%= @car.number_plate %></p>
<h4>Transmission</h4>
<p><%= @car.transmission %></p>