<%= form_for(@review, url: booking_reviews_path) do |form| %>

  <div class="review-image-field">
    <% if current_user == @review.booking.passenger %>
      <% unless @review.booking.driver.profile.avatar_image_data == nil %>
        <%= image_tag @review.booking.driver.profile.avatar_image_url(:medium), id: 'review-image' %><br />
      <% end %>
      <h3><%= @review.booking.driver.profile.first_name %></h3>
    <% elsif current_user == @review.booking.driver %>
      <% unless @review.booking.passenger.profile.avatar_image_data == nil %>
        <%= image_tag @review.booking.passenger.profile.avatar_image_url(:medium), id: 'review-image' %><br />
      <% end %>
      <h3><%= @review.booking.passenger.profile.first_name %></h3>
    <% end %>
  </div>

  <div class="form-field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5, step: 1, id: :review_rating %>
    <span class="error-msg"><%= display_errors(@review, :rating) %></span>
  </div>

  <div class="form-field">
    <%= form.text_area :content, placeholder: 'Comment', id: :review_content %>
  </div>

  <%= form.submit :Review, class: 'main-button' %>
<% end %>