<footer>
  <div class="site-links">
    <h5>Site Map</h5>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Contact', contact_path %>
    <%= link_to 'About', root_path %>
    <%= link_to 'News', root_path %>
    <%= link_to 'Creator', "https://www.linkedin.com/in/mark-tice-369570158/", target: "_blank" %>
  </div>
  <div class="social-container">
    <h5>Social</h5>
    <a href="https://www.linkedin.com/in/mark-tice-369570158/" id="linkdin" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/marktice" id="github" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://codepen.io/marktice/" id="codepen" target="_blank"><i class="fa fa-codepen"></i></a>
    <a href="https://twitter.com/" id="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://facebook.com/" id="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://instagram.com/" id="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
  <div class="copyright">
    <i class="fa fa-cog fa-spin"></i><span> 2018 by Mark Tice</span>
  </div>
</footer>