  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    -->
    
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <% if user_signed_in? %>
        <li><%= link_to 'Book a driver', root_path %></li>
        <% unless current_user.car.nil? %>
          <li><%= link_to 'Your bookings', passenger_bookings_path %></li>
        <% end %>
        <% unless current_user.driver_profile.nil? %>
          <li><%= link_to 'Drive', bookings_path %></li>
          <li><%= link_to 'Your drives', driver_bookings_path %></li>
          <% else %>
          <li><%= link_to 'Become a driver', driver_edit_path %></li>
        <% end %>
        <li><%= link_to 'Profile', profile_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Log in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
