<header>
  <nav>
    <div id="nav-logo"><%= link_to 'Boot Scoot', root_path %></div>
    <% if user_signed_in? %>
      <div class="nav-links">
        <%= link_to 'Booking', new_booking_path, id: 'booking-link' %>
        <% unless current_user.driver_profile == nil %>
          <%= link_to 'Drive', bookings_path, id: 'drive-link' %>
        <% end %>
      </div>
      
      <% unless current_user.profile == nil %>
        <%= link_to profile_path do %>
          <% if current_user.profile.avatar_image_data != nil %>
            <%= image_tag current_user.profile.avatar_image_url(:thumb), id: "nav-avatar" %>
          <% else %>
            <%= current_user.email %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%# link_to 'Sign up', new_user_registration_path %>
      <%# link_to 'Log in', new_user_session_path %>
    <% end %>
  </nav>
</header>