<header>
  <nav role="navigation">
    <%= render 'layouts/hamburger' %>
    <div id="nav-logo"><%= link_to 'Boot Scoot', new_booking_path %></div>
    <% if user_signed_in? %>
      <%= link_to profile_path do %>
        <%= image_tag display_avatar(current_user, :thumb), class: 'avatar', id: "nav-avatar" unless current_user.profile.nil? %>
      <% end %>  
    <% else %>
      <%= image_tag 'avatar_image/missing.jpg', class: 'avatar', id: "nav-avatar" %>
    <% end %>
  </nav>
</header>