<!DOCTYPE html>
<html>
  <head>
    <title>BootScoot</title>
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Montserrat" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "flash flash-#{message_type}") %>
    <% end %>
    <main><%= yield %></main>
    <%= render 'layouts/footer' %>
  </body>
</html>
